:root {
  --white-color: rgba(255, 255, 255);
}

* {
  box-sizing: border-box;
}

font-face {
  src: url(../fonts/fontawesome-webfont.otf);
  font-family: custom;
}
.mobile-nav-trigger {
  display: none;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
.align-to-center {
  text-align: center;
}
.green {
  background-color: rgb(0, 128, 0, 0.8);
  padding: 30px;
}
.blue {
  background-color: rgb(7, 7, 251, 0.8);
  padding: 30px;
}
.orange {
  background-color: rgb(255, 165, 0, 0.8);
  padding: 30px;
}
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/slide1.jpg);
  height: 550px;
  position: relative;
  color: var(--white-color);
  text-transform: uppercase;
  font-family: custom;
  /* background-attachment: fixed; */
}
header .nav-bar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 100px 0 100px;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  position: fixed;
  width: 100%;
}
header .nav-bar .nav-image {
  border-style: solid;
  border-width: 1.5px;
  height: 40px;
  display: flex;
  font-size: 30px;
}
.nav-bar .nav-image [class^="nav"] {
  padding: 0 3px 0 3px;
}
.nav-bar .nav-image .nav-left-image {
  border-right-style: solid;
  border-width: 1.5px;
  display: flex;
  align-items: center;
  background-color: red;
  padding: 0 10px 0 10pxx;
}
.nav-bar .nav-image .nav-right-image {
  display: flex;
  align-items: center;
}
.nav-bar .nav-links a {
  margin: 0 12px 0 12px;
}
header .welcoming-text {
  padding: 120px 100px 0 100px;
}
header .welcoming-text .learn-design {
  display: flex;
  align-items: center;
}
header .welcoming-text .learn-design a {
  padding: 1em;
  background-color: rgb(104, 185, 23);
}
header .welcoming-text .learn-design span {
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--white-color);
  margin-left: 5px;
}
header .welcoming-text .scroll-down-trigger {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-top: 50px;
}
header .slide-indicate {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  align-self: center;
}
header .slide-indicate .each-indicator {
  border-style: solid;
  border-color: red;
  border-radius: 100%;
  border-width: thin;
  background-color: var(--white-color);
  width: 15px;
  height: 15px;
  margin: 0 5px 0 5px;
  transition-duration: 0.4s;
}
header .slide-indicate .each-indicator:hover {
  background-color: red;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 0x;
}
main > div {
  padding: 0px 100px 70px 100px;
  margin: auto;
}
main .about-us .about-grid {
  display: flex;
  flex-wrap: wrap;
}
main .about-us .about-grid .each-grid-for-about {
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .about-us .about-grid .each-grid-for-about p {
  color: rgba(255, 255, 255);
  line-height: 1.5;
}
main .about-us .about-grid .each-grid-for-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========================================== */

main .services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .services .services-grid {
  display: flex;
  justify-content: space-between;
}
.services-grid .services-image {
  width: 50%;
}
main .services-grid .services-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  line-height: 1.5;
}
main .services .services-grid .services-text .each-service--text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-service {
  font-size: 90px;
  margin-right: 20px;
}
main .services .services-grid .services-image {
  display: flex;
}
main .services .services-grid .services-image .image-grid {
  width: 40%;
}
.image--double-column-cell {
  display: flex;
  flex-direction: column;
}
main .services .services-grid .services-image .image-grid img,
main .services .services-grid .services-image .image-grid .column-cell img {
  width: 100%;
  height: inherit;
}

main .team {
  display: flex;
  flex-direction: column;
}
main .team .team-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .team .team-grid .each-team--cell {
  width: 24%;
}
main .team .team-grid .each-team--cell .image-frame {
  padding: 10px;
  border-style: inset;
  border-left-color: red;
  border-top-color: red;
}
main .team .team-grid .each-team--cell img {
  width: 100%;
  object-fit: cover;
}

/* ======================================= */
main .food {
  display: flex;
  flex-direction: column;
}
main .food .food-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .food .food-grid .each-food--cell {
  width: 24.5%;
  margin-top: 5px;
}
main .food .food-grid .each-food--cell img {
  width: 100%;
}

main .testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/stats.jpg");
  color: var(--white-color);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 1.5em;
}
main .testimonial .sub-testimonial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .testimonial .sub-testimonial [class^="testimonial-text"] {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5em;
  text-align: center;
}

main .get-in-touch {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.contact-grid {
  display: flex;
  justify-content: space-between;
}
main .get-in-touch .contact-all-details {
  display: flex;
  background-color: rgb(104, 185, 23);
  justify-content: flex-end;
  width: 50%;
  padding: 100px 70px 100px 100px;
}
.contact--field {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.contact--field i {
  font-size: 30px;
  margin-right: 20px;
}
.contact-form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/contact.jpg");
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  align-items: center;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input,
textarea {
  border: none;
  margin-bottom: 2em;
  background-color: transparent;
  outline: none;
  border-bottom: solid thin var(--white-color);
  color: var(--white-color);
  padding: 7px 0 15px 3px;
  width: 400px;
  max-width: 200px;
}
textarea {
  height: 100px;
}
.contact-form form button {
  align-self: flex-end;
  border: solid thin rgb(104, 185, 23);
  background-color: rgb(104, 185, 23);
  color: var(--white-color);
  padding: 1em 50px 1em 50px;
  transition-duration: 0.4s;
  outline: none;
}
.contact-form form button:hover {
  cursor: pointer;
  color: rgb(104, 185, 23);
  background-color: var(--white-color);
  border-color: var(--white-color);
}

main .subscribe-field {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: red;
  flex-wrap: wrap;
}
main .subscribe-field .subscribe-subsection {
  width: 50%;
  text-align: center;
}
main .subscribe-field .form-section {
  display: flex;
  justify-content: center;
}
.subscribe-subsection input {
  background-color: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-width: thin;
  border-color: rgba(255, 255, 255, 0.7);
  height: 30px;
  padding-left: 5px;
  outline: none;
}
.subscribe-subsection button {
  background-color: rgb(104, 185, 23);
  color: var(--white-color);
  border-style: solid;
  border-width: thin;
  transition-duration: 0.4s;
}
.subscribe-subsection button:hover {
  background-color: var(--white-color);
  color: rgb(104, 185, 23);
  cursor: pointer;
}

footer,
footer .footer-subsequent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer {
  justify-content: space-around;
  color: var(--white-color);
  background-color: rgb(0, 0, 0);
}
footer .each-link {
  font-size: 20px;
  margin: 0 12px 0 12px;
}

/* responsiveness */
@media screen and (max-width: 1083px) {
  header .nav-bar {
    padding-right: 20px;
  }
  header .nav-bar .nav-image {
    font-size: 20px;
  }
  .nav-bar .nav-links a {
    margin: 0 10px 0 10px;
  }
}
@media screen and (max-width: 1000px) {
  main .services-grid {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
  main .services-grid .services-text,
  .services-grid .services-image {
    width: 100%;
    justify-content: center;
  }
  main .services-grid .services-text {
    width: 80%;
    align-self: center;
  }
  main .services-grid .services-text {
    margin-top: 1.5em;
  }
  main .about-us .about-grid {
    justify-content: center;
  }
  main .about-us .about-grid .each-grid-for-about {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .nav-bar .mobile-nav-trigger {
    display: block;
    margin-right: 30px;
    border-style: solid;
    border-width: thin;
    padding: 5px 12px 5px 12px;
    font-size: 20px;
  }
  header .nav-bar {
    padding-left: 0;
  }
  header .nav-bar .nav-image {
    margin-left: 100px;
  }
  .nav-bar {
    position: relative;
  }
  .nav-bar .nav-links {
    display: none;
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding-left: 100px;
    flex-wrap: wrap;
  }
  .nav-bar .nav-links a {
    padding: 20px 5px 20px 5px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --new-padding: 40px;
  }
  header .nav-bar .nav-image {
    margin-left: var(--new-padding);
  }
  header .welcoming-text {
    padding-left: var(--new-padding);
  }
  main > div {
    padding: 70px var(--new-padding) 70px var(--new-padding);
  }
  .nav-bar .nav-links {
    flex-direction: column;
  }
  main .team .team-grid .each-team--cell {
    width: 40%;
  }
  main .food .food-grid .each-food--cell {
    width: 49%;
  }
  main .testimonial .sub-testimonial {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  main .testimonial .sub-testimonial [class^="testimonial-text"] {
    width: 40%;
  }
  main .about-us .about-grid .each-grid-for-about {
    width: 50%;
  }
  main .get-in-touch .contact-grid {
    flex-wrap: wrap;
  }
  main .get-in-touch .contact-all-details,
  main .get-in-touch .contact-form {
    width: 100%;
  }
  .contact-form form input,
  textarea {
    max-width: 400px;
  }
  .contact-form {
    padding: 100px var(--new-padding) 100px var(--new-padding);
    justify-content: center;
  }
  main .subscribe-field {
    padding-bottom: 3em;
    padding-top: 3em;
  }

  main .subscribe-field .subscribe-subsection {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --final-measurement: 90%;
  }
  main .food .food-grid .each-food--cell {
    width: var(--final-measurement);
  }
  main .about-us .about-grid .each-grid-for-about {
    width: var(--final-measurement);
    margin-bottom: 15px;
  }
  main .team .team-grid .each-team--cell {
    width: var(--final-measurement);
  }
  main .testimonial {
    position: relative;
  }
  main .testimonial .sub-testimonial [class^="testimonial-text"] {
    width: 100%;
  }
  main .testimonial .sub-testimonial .testimonial-text--left {
    margin-bottom: 30px;
  }
  main .testimonial .sub-testimonial [class^="arrow"] {
    position: absolute;
  }
  main .testimonial .sub-testimonial .arrow-left {
    left: 10px;
  }
  main .testimonial .sub-testimonial .arrow-right {
    right: 10px;
  }
  .contact-form form input,
  textarea {
    max-width: 300px;
  }
}
@media screen and (max-width: 360px) {
  :root {
    --final-padding: 20px;
  }
  header .nav-bar .nav-image {
    margin-left: var(--final-padding);
  }
  header .welcoming-text {
    padding-left: var(--final-padding);
  }
  main > div {
    padding: 70px var(--final-padding) 70px var(--final-padding);
  }
  main .get-in-touch .contact-all-details {
    padding: 70px var(--final-padding) 70px var(--final-padding);
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
